*{
 
  padding: 0px;
  margin: 0px;
}
a{
  text-decoration: none;
  color: white;
  font-weight: 800;
}
#navbar{
height: 50px;
  background-color: transparent;
  display: flex;
  background-color: #000;
  color: white;

}

#navbar div{
  text-align: center;
}
#left {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5px;
  text-transform: uppercase;
  width: 130px;
  height: 25px;
  border: none;
  outline: none;
  color: #fff;
  background: transparent ;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
font-weight:700 ;
  margin:10px ;
  margin-left: 60px;
}

#left:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -3px;
  left:-3px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 16s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

#left:active {
  color: #f2e8e8
}

#left:active:after {
  background: transparent;
}

#left:hover:before {
  opacity: 1;
}

#left:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1a62ae98;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.buttons {
  margin-right: 30px;
  text-align: center;
  /* float: right;
  position: absolute; */
  /* right: 10px; */
}


.btn-hover {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 27px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #d3235898, #d3235898, #d3235898);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
#right{
  position: absolute;
  right: 10px;
 /* background-color: rgb(41, 163, 197);
 border-radius: 20% / 80%;
 height: 20px;
 font-size: 15px;
 padding-top: 4px;
 font-family: Arial, Helvetica, sans-serif;
 width: 110px;
 text-transform: uppercase;
 text-align: center; */
}
#center{
background-color: transparent;
  margin: 10px;
  margin-left: 1%;
  color: white;
  height: 30px;

}
#center_list{
  display: flex;
  padding: 5px;
  background-color: transparent;

}
#center_list .a1{
  background-color: transparent;
  padding-left: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: white; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;

} 

.dropbtn {
  text-transform: uppercase;
  width: 80px;
  height: 25px;
  font-size: 10px;
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
font-weight:700 ;
 
}
.dropbtn:hover{
  background-color: transparent;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  
  background-color: #000;
  min-width: 160px;
  box-shadow: 0px 20px 20px 0px rgba(64, 17, 134, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  font-size: 10px;
font-family:   sans-serif;
font-weight: 700;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 130px;
  height: 10px;
}

.dropdown-content a:hover {background-color: #000;
color: #25aae1;


}

.dropdown:hover .dropdown-content {display: block;
  
}

.dropdown:hover .dropbtn {background-color: #000;
  }


.dropdown-content:before {
  content: '';
  background: linear-gradient(45deg, #114174, #119987, #3d0c7f, #18a7cf, #00ffd5, #59b78b, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -5px;
  left:-5px;
  right: 5px;
bottom: 12px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 16s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.dropdown-content:active {
  color: transparent;
}

.dropdown-content:active:after {
  background: transparent;
}
.mobdown{
  display: none;
}

.dropdown-content:hover:before {
  opacity: 1;
}

.dropdown-content:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
 form{
  display: flex;
  margin: 1%;
  width: 100%;
background-color: transparent; 
}
.search-container {
  display: flex;
background-color: rgb(214, 211, 211);
background-color: rgb(232, 229, 229);
box-shadow: 2px 2px 30px black;

  height: 21%;
display: flex;
}
ion-icon{
  font-size: 40px;
}

.search-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  background-color: white;
  border: none;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.433);

  border-radius: 5px  5px;
  outline: none;
  width: 72%;
  height: 40px;
}

.search-container button {
  padding: 7px;
  background: #2196F3;
  color: white;
  font-size: 21px;
  margin-left: 1%;
  border: none;
  height: fit-content;
  width: fit-content;
  border-radius:  5px 5px ;
  cursor: pointer;
}

.search-container button:hover {
  background: #0b7dda;
}

.section2{
  background-color: rgb(232, 229, 229);
}
.heading{
  text-align: center;

}
.heading h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 30px;
  color:  #2196F3;
}
.container{
  background-color: #0b7dda;
align-items: center;
justify-content: center;
  display: flex;
}
.c1{
background: url("img/public\ speaking.jpeg") center center/cover;
width: 20%;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.464);
height: 100px;
margin: 1%;
border-radius: 8px;
align-items: center;
justify-content: center;
text-align: center;
}
.c1:hover{
  transform: scale(1.1);
  transition: 1s;
}
.c1 .fade{
  border-radius: 8px;
  width: 100%;
  height: 100%;
  background-color: #0000007f;
}
.c1 .text{
font-size: 30px;
font-family: monospace;
color: #f9f8f8af;
}
.recommendation{
  text-align: center;
background-color: #0b7dda;
font-size: 26px;
font-family: monospace;
  
}
.containerMain{
  height: 300px;
  text-align: center;
justify-content: center;  
}

.cm1{
  display: flex;
  height: 200px;
padding-top: 2%;

}
.cm1 img{
  width: 90%;
margin: 1%;
border-radius: 10px;
}
.cm1 img:hover{
transform: scale(1.1);
transition: 2s;
}
@media only screen and (max-width:900px)
{
   .container{
    flex-direction: column;
    align-items: center;
    text-align: center;

  }
  .c1{
    width: 80%;
  }
  .containerMain{
    height: fit-content;
  }
  .cm1{
    height: fit-content;
    align-items: center;
flex-direction: column;
text-align: center;
width: 100%;
  }
  .cm1 img{
    margin-top: 3%;
width: 90%;
  }
}
@media only screen and (max-width:500px){
 
  #center_list{
    display: none;
  }
  .mobdown{
    margin: 0%;
    width: 20px;
    height: 10px;
    display: block;
    font-size: 40px;
  }
  .dropbtn h1{
    font-size: 20px;
  }
 .mobdown .dropbtn{
    font: 60px;
  }
  .mobdown a{
    font-size: 20px;
    width: 250px;
    height: 30px;
  }
  .left{
    font-size: 40px;
  }
 
  .containerofmodels{
    display: inline;
  }
}





.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 46%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 98%;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 10%;
  margin-left: 15%;
  height: 100%;
color: #636363;
font-weight: 900;
font-size: 50px;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;

}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.headingmodal{
  display: flex;
width: 98%;
margin: 1%;
}
.headingmodal h1{
  width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  color: #0b7dda;
  font-size: 30px;
  padding-left: 5%;
}
.modalmain{
  display: flex;
}
.main1{
  width:60%;
  color: #000;

}
.main1 img{
  border-radius: 10px;
  width: 95%;
  margin: 2.5%;
}
.main1heading{
  /* margin-left: 2.5%; */
  padding-left: 2.5%;
font-size: 16px;
width: 100%;
text-align: center;
height: 40px;
color: #0b7dda;
display: flex;
text-transform: uppercase;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.main1heading h4{
width: 55%;
height: 60px;
margin-top: 0%;
}
.artistname{
  color: #303030eb;
width: 30%;
  display: flex;
  font-size: 15px;
  margin-left: 10%;
  text-align: center;
}
.artistname h5{
  color: #0b7dda;
  padding-top: 4.7%;
}
ion-icon{
font-size: 30px;
color: #0b7dda;
}
.description{
  font-size: 14px;
  font-family:  Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #4b4a4a;
  padding: 2.5%;
}
hr{
  color: #ededed;
}
.main2{
  margin-top: 2%;
  width: 40%;

}
.download{
  height: 40%;

}
.downloadc1{
  text-align: center;
  font-size: 8px;
  height: 30%;
  margin: 2%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.522);
  border-radius: 10px;
  background-color: #0b7dda;
}
.downloadc1 h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 4%;
}
.downloadc1:hover{
  transform: scale(1.03);
  transition: 1s;
}
.details{
  height: 56%;
  margin: 2%;
}
.detailsc1{
  text-align: center;
  height: 15%;
  margin: 0.5%;
  border-radius: 5px;
  background-color: #ededed;
}
.detailsc1 h5{
  color: #0b7dda;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  padding: 3%;
}
.detailsc1 h5:hover{
  color: red;
}
@media only screen and (max-width:500px){
  .container{
    flex-direction: column;
    align-items: center;
    text-align: center;

  }
  .c1{
    width: 80%;
  }
  .containerMain{
    height: fit-content;
  }
  .cm1{
    height: fit-content;
    align-items: center;
flex-direction: column;
text-align: center;
width: 100%;
  }
  .cm1 img{
    margin-top: 3%;
width: 90%;
  }
  ion-icon{
    color: white;
  }
#img01{
  height: 10px;
}
  .modalmain{
    flex-direction: column;
    align-items: center;
  }
  .main1{
    width: 100%;
  }
  .main2{
    width: 100%;
    height: 100%;
  }
  .modal{
    top: 1%;
    left: 3%;
  }
  .downloadc1{
    height: 50px;
  }
  .downloadc1 h1{
    font-size: 20px;
    margin-top: 1%;
    padding-top: 4%;
  }
  #left{
font-size: 20px;
width: 50%;
height: 25px;    
  }
}